<h2>Search Doctors by Specialty</h2>

<form asp-action="Search" method="post">
    <label>Specialty</label>
    <input class="form-control" name="specialty" />

    <button class="btn btn-primary mt-3" type="submit">Search</button>
</form>
